* {
    margin :0;
    padding : 0;
}
body {
    background-color: #075A64;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.title {
    font-size: 3rem;
    color: #fff;
    margin: 1rem 0;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
     
}
.box {
    height : 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    background-color: #ffffc7;
    font-size: 8vmin;
    color: #E83151;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color:#E83151 ;
    color: aliceblue;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color:#E83151 ;
    color: aliceblue;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #ffffc7;
    font-size: 8vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}